.navbar {
    background-color: #151598; /* Background color of the navbar */
    overflow: hidden; /* Ensure that any overflow is hidden */
  }
  
  .navbar ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
    display: flex; /* Display list items horizontally */
  }
  
  .navbar li {
    padding: 10px 15px; /* Padding around list items */
  }
  
  .navbar a {
    color: white; /* Text color of the links */
    text-decoration: none; /* Remove default underline */
    font-size: 18px; /* Font size of the links */
  }
  
  .navbar a:hover {
    background-color: #555; /* Background color on hover */
  }
  
  .navbar .active {
    background-color: #4CAF50; /* Background color of the active link */
  }
  .image-container {
    width: 100%; /* Ensure the container spans the full width of the screen */
    height: 100vh; /* Set the height to fill the viewport */
    background-image: url('./assests/images/logo.jpeg'); 
    /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Stretch the image proportionally to cover the container */
    background-position: center; /* Center the image horizontally and vertically */
  }